# /etc/systemd/system

[Unit]
Description=B24 asterisk integration
After=network.target

[Service]
User=nobody
Group=nobody
WorkingDirectory=/opt/bitrix-asterisk
Environment="PATH=/opt/bitrix-asterisk/.venv/bin"
ExecStart=/opt/bitrix-asterisk/.venv/bin/python ami_cel.py

[Install]
WantedBy=multi-user.target
